body {
    font-family: "Roboto", sans-serif ;
   background-color: #FFFFFF;
   color: #434455;

}
address {
    font-style: normal;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    
}
img {
    display: block;
    max-width: 100%;
}
.container {
    width: 1160px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
.header {
    background-color: #f8f9fa;
}
.header-link {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.header-item-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.header-item :hover, .header-item :focus {
color: #404bbf;
}
.address-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-link:hover, .address-link:focus {
    color: #404bbf;
}
.section-box {
    background-color: #2E2F42;
}
.box-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}
.box-btn {
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}
.box-btn:hover, .box-btn:focus {
    background-color: #404BBF;
}
.information-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.information-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section-hero {
    background-color: #F4F4FD;
}
.hero-item {
background: #fff;
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

}
.hero-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.hero-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.section-portfolio {
    background-color: #FFFFFF;
}
.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background: #2e2f42;
}
.footer-link {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo {
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
* {
    box-sizing: border-box;
}